---
name: Build and Release PDF

on:
  pull_request_target:
  push:
    tags:
      - '*'

jobs:
  build:
    uses: smkwlab/.github/.github/workflows/latex-build.yml@main
    with:
      files: "a0poster"
